<!DOCTYPE html>
<html ng-app="chat">

<head>
    <link rel="shortcut icon" type="image/png" href="./img/icon.png" />
    <meta charset="utf-8">
    <title> </title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="style.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="app.js"></script>

</head>

<body ng-controller="chatCtrl">
    <div class="main-container">
        <input type="text" id="user" placeholder="name" ng-model="username" ng-disabled="disableUser" />
        <input type="text" id="msg" placeholder="message" ng-model="message" size="100" /><button ng-click="send()" id="send">send</button>
        <div class="chat-container">
            <div ng-repeat="x in data" id="chats"><b>{{ x.user}}</b> : {{ x.msg }}</div>
        </div>
        <iframe src="lib/game/index.html" id="game"></iframe>
        <label>Night Mode :<input type="checkbox" id="ticker" /></label>
    </div>
</body>

</html>